.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: black;
}

/* VIDEO BACKGROUND */

.videoBackground {
  position: absolute;
  inset: 0;
  background:
    linear-gradient(135deg,
    #2D3561,
    #1F2347);
}

/* DARK OVERLAY */

.overlay {

  position: absolute;
  inset: 0;
  background:
    linear-gradient(
      to top,
      rgba(0,0,0,0.7),
      transparent 40%
    ),

    linear-gradient(
      to bottom,
      rgba(0,0,0,0.4),
      transparent 40%
    );

}


/* PLAY BUTTON */

.centerPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  opacity: 0.8;
}

/* ACTIONS RIGHT */

.actions {
  position: absolute;
  right: 10px;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}


.actionBtn {
  background: none;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}


.actionBtn span {
  font-size: 12px;
}


.profileCircle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #7C3AED,
    #6366F1
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;

}

/* LEFT INFO */

.info {
  position: absolute;
  bottom: 90px;
  left: 16px;
  right: 80px;
  color: white;
}

.author {
  font-weight: bold;
  margin-bottom: 4px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.meta {
  font-size: 14px;
  opacity: 0.8;
}

/* SCROLL INDICATOR */

.indicator {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.dot {
  width: 4px;
  height: 4px;
  background: gray;
  border-radius: 2px;
}

.dotActive {
  width: 4px;
  height: 24px;
  background: white;
  border-radius: 2px;

}
