.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #1b1c33;
  padding: 20px;
  border-radius: 14px;
  width: 85%;
  max-width: 320px;
  color: white;
}

.modal button {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
