.main-content::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: #999;
}

@media (max-width: 430px) {
  .app-container {
    max-width: 100%;
    box-shadow: none;
  }
}

@media (min-width: 431px) {
  .app-container {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 24px;
    overflow: hidden;
  }
}