/* TAILWIND */
@import "tailwindcss";

/* RESET DEFAULT VITE (optional tapi direkomendasikan) */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #020617; /* slate-950 biar cocok boss battle */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  background: transparent;
  border: none;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
}

/* Optional: smooth rendering */
* {
  box-sizing: border-box;
}
